body, html{
  height:100%;
  background-image: url("http://worldartsme.com/images/ocean-water-clipart-1.jpg");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  border: none;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUp, .addMover, .scatter{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.dancer{
  background-image: url("http://fla.fg-a.com/boats/sail-boat-animated-1.gif");
  position:absolute;
  background-size: 100%;
  border: none;
}

.dancer2{
  background-image: url("http://www.gif-gifs.com/hausa-gif/Boat%20Gif/Boat%20Gif%20(15).gif");
  position:absolute;
  height: 25px;
}
.explode{
  background-image: url("http://rs651.pbsrc.com/albums/uu236/416o/explosion.gif~c200");
  position:absolute;
}

img{
  width: 50px;
  height: 50px;
}