body, html{
  height:100%;
  background-image: url("http://worldartsme.com/images/ocean-water-clipart-1.jpg");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  border: none;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUp, .addMover, .scatter, .iceberg, .arggg{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.dancer, .dancer2{
  background-image: url("http://fla.fg-a.com/boats/sail-boat-animated-1.gif");
  position:absolute;
  height: 90px;
  width: 140px;
  background-size: 90%;
  background-repeat: no-repeat;
}

.dancer2{
  background-image: url("http://www.gif-gifs.com/hausa-gif/Boat%20Gif/Boat%20Gif%20(15).gif");
  background-size: 100  %;
}
.explode{
  background-image: url("http://rs651.pbsrc.com/albums/uu236/416o/explosion.gif~c200");
  position:absolute;
}

.iceberg{
  background-image: url("https://image.spreadshirtmedia.com/image-server/v1/designs/12488695,width=178,height=178,version=1378216989/Icebear-Iceberg.png");
}

img{
  width: 50px;
  height: 50px;
  border: 0px;
  border-style: none;
  outline: 0px;
}

.argg{
  background-image: url('https://38.media.tumblr.com/1ae430c41a5d390d864b7a1dbe396fb3/tumblr_inline_nw0lnj5Hfh1rfbaqq_500.gif');
}